@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
}
body::-webkit-scrollbar{
    background-color: #171212 ;
    height:20px;

}
body::-webkit-scrollbar-thumb{
    background-color:#171212;
    border-radius: 40px;
    opacity: 0.1;
    border: 1px  solid #dca54c;
}
body::-webkit-scrollbar-thumb:hover{
    background:#dca54c;
    border-radius: 40px;
    opacity: 0.1;
}

body::-webkit-scrollbar-track{
    height: 20px;
}

body{
    overflow-x: hidden;
}